@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Elegant Gold & White Theme (Default) */
  --color-primary: #7fb5b5; /* Tuequesa  */
  --color-secondary: #75b3b3; /* Champagne */
  --color-accent: #75b3b3; /* Pale Gold */
  --color-background: #FCFCFA; /* Off-white / Cream */
  --color-surface: #FFFFFF; /* Pure White */
}

body {
  @apply bg-background text-gray-800 font-body;
  background-image: url('/images/bg-texture.png');
  background-repeat: repeat;
  background-size: 400px; /* Adjust scale */
  background-blend-mode: multiply;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading text-primary;
}

.glass-panel {
  @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-xl rounded-2xl;
}

:root {
  --swiper-theme-color: var(--color-primary) !important;
  --swiper-navigation-size: 24px !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-primary) !important;
}

.swiper-button-next, .swiper-button-prev {
  color: var(--color-primary) !important;
}
